<h1>Create an Opponent</h1>

<% if flash[:errors] %>
    <%= render '/applications/errors' %>
<% end %>

<!-- <%= render 'opponent_form' %> -->

<%= form_with model: @opponent do |f| %>
    <%= f.label :username, "Username:" %><br>
    <%= f.text_field :username %><br>

    <%= f.label :gender, "Gender:" %><br>
    <%= f.label :Male %>
    <%= radio_button_tag("opponent[gender]", "Male") %>
    <%= f.label :Female %>
    <%= radio_button_tag("opponent[gender]", "Female") %><br>

    <%= f.label :ranking, "Ranking:" %><br>
    <%= f.number_field :ranking, min: 100, max: 2800 %><br>

    <%= f.submit %>
<% end %>

<%= button_to "Cancel", player_path(current_player), method: :get %>