<h1>Create an Opponent</h1>

<% if flash[:errors] %>
    <%= render '/applications/errors' %>
<% end %>

<%= render 'opponent_form' %>

<%= button_to "Cancel", player_path(current_player), method: :get %>

<hr>

<h1>All Opponents</h1>
<h3>Pros:</h3>
<% if @opponents.pro.exists? %>
    <% @opponents.pro.each do |o| %>
        <p><%= o.username %></p>
    <% end %>
<% else %>
        <p>----------</p>
<% end %>
<br>

<h3>Elite:</h3>
<% if @opponents.elite.exists? %>
    <% @opponents.elite.each do |o| %>
        <p><%= o.username %></p>
    <% end %>
<% else %>
        <p>----------</p>
<% end %>
<br>

<h3>Competitors:</h3>
<% if @opponents.competitor.exists? %>
    <% @opponents.competitor.each do |o| %>
        <p><%= o.username %></p>
    <% end %>
<% else %>
        <p>----------</p>
<% end %>
<br>

<h3>Amateurs:</h3>
<% if @opponents.amateur.exists? %>
    <% @opponents.amateur.each do |o| %>
        <p><%= o.username %></p>
    <% end %>
<% else %>
        <p>----------</p>
<% end %>
<br>

