<div class="container">
    <div class="text-center">
        <% if flash[:success] %>
            <%= render '/applications/success' %>
        <% end %>
        <div class="color_backdrop">
            <div class="mx-auto">
                <h1 >Welcome <%= @player.username.titlecase %></h1>

                <h5>Username: <%= @player.username %></h5>
                
                <h5>Ranking: <%= @player.ranking %></h5>
                
                <h5>Percentage Wins: <%= win_percentage(@player) %></h5>

                <h5>Match Wins: <%= match_wins(@player) %> | Losses: <%= match_losses(@player) %></h5>

                <h5>Total number of games:<%= @player.games.count %></h5>
                <br>

                <div class="row">
                    <div class="col">
                    <%= button_to "Update Player", edit_player_path(@player), method: :get %>
                    </div>
                    <div class="col">
                    <%= button_to "Add Opponent", new_opponent_path, method: :get %>
                    </div>
                    <div class="col">
                    <%= button_to "Add Match", new_player_match_path(@player), method: :get %>
                    <br>
                    </div>
                </div>
                <div>
                    <div class="text-center">
                        <h3> All Matches </h3>
                    </div>
                    <table class="table-striped">
                        <tbody>
                            <tr>
                                <th>Date</th> 
                                <th>Status</th>
                                <th>Opponent</th>
                                <th>Ranking</th>
                                <th>Best of</th>
                                <th>Scores</th>
                                <th>Notes</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <% @player.matches.each do |m| %>
                            <tr>
                                <td><%= m.date %></td>
                                <td><%= match_status(m) %></td>
                                <td><%= link_to "#{m.opponent.username}", edit_opponent_path(m.opponent), class: "link" %></td>
                                <td><%= m.opponent.ranking %></td>
                                <td><%= m.match_type %></td>
                                <td><%= match_scores(m) %></td>
                                <td><%= m.notes %></td>
                                <td>
                                    <%= button_to "Edit", edit_match_path(m), method: :get %>
                                </td>
                                <td>
                                    <%= button_to "Delete", m, method: :delete %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
<!-- <%= link_to "Log Out", session_path, method: :delete %> 

<%= button_to "Log Out", logout_path, method: :get %> 
-->
        <br>
    </div>
</div>