<div id="player_stats" style="border: solid black;">

    <p>Username: <%= @player.username %></p>
    
    <p>Ranking: <%= @player.ranking %></p>
    
    <p>Percentage Wins: <%= win_percentage(@player) %></p>

    <span>Match Wins: <%= match_wins(@player) %> |</span>
    <span>Losses: <%= match_losses(@player) %></span>
    <br>
    <%= button_to "Update Player", edit_player_path(@player), method: :get %>
    <br>

</div>
<br>


<div id="player_matches" style="border: solid black;">
    
    <br>
    <%= button_to "Add Opponent", new_opponent_path, method: :get %>
    <br>
    <%= button_to "Add Match", new_player_match_path(@player), method: :get %>
    <br>
    <table>
        <thead>
            <tr>
                <th > All Matches </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Date</th> 
                <th>Status</th>
                <th>Opponent</th>
                <th>Best of</th>
                <th>Scores</th>
                <th>Notes</th>
                <th>Edit/Delete</th>
            </tr>
            <% @player.matches.each do |m| %>
            <tr>
                <td><%= m.date %></td>

                <td><%= match_status(m) %></td>
                <td><%= m.opponent.username %></td>
                <td><%= m.match_type %></td>
                <td><%= match_scores(m) %></td>
                <td><%= m.notes %></td>
                <td>
                    <%= button_to "Edit", edit_match_path(m), method: :get %>
                    <%= button_to "Delete", m, method: :delete %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<br>
<!-- <%= link_to "Log Out", session_path, method: :delete %> -->
<%= button_to "Log Out", logout_path, method: :get %> 